<!DOCTYPE html>
<html>
<head>
  <title>Hello World</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<style>

body {
  margin: 0px;
  font: 20px 'RobotoRegular', Arial, sans-serif;
  font-weight: 100;
  height: 100%;
  color: #0f1419;
}

img {
    width: 90%;
    margin: 0 auto;
    display: block;
}

h1 {
  font-weight: 900;
  text-align: center;
}

h2 {
  font-weight: 300;
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.bolder {
  font-weight: 900;
}

</style>

</head>
<body>
    
<img alt="gunicorn logo" src="{{ url_for('static', filename='logo.svg') }}" />
    
    <h1>Hello World</h1>
    <h2><span class = "uppercase bolder">Timestamp:</span> {{timestamp}}</h2>
    
    {% if branch != None %}
    <h1>Gitlab info:</h1>
    <h2><span class = "uppercase bolder">CI project name:</span> {{ci_project_name}}</h2>
    <h2><span class = "uppercase bolder">CI project url:</span> {{ci_project_url}}</h2>
    <h2><span class = "uppercase bolder">Branch:</span> {{branch}}</h2>
    {% endif %}


</body>
</html>
